<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/trade.css" />

<form id="trade-form" method="POST" action="/send-trade/<%- targetFriend %>">
  <input type="hidden" name="cardsGiven" id="cardsGivenInput" />
  <input type="hidden" name="cardsReceived" id="cardsReceivedInput" />
  <div class="general-wrapper">
    <div class="left-trade-side">
      <h1>Giving:</h1>
      <div class="cards-wrapper">
        <% for(let i = 0; i < userCardsInfo.length; i++) { %> <% if
        (userCardsInfo[i]) { %>
        <img
          class="cards selectable-card giving-card"
          data-id="<%- userCardsInfo[i].id %>"
          src="<%- userCardsInfo[i].highResImage %>"
          alt=""
        />
        <% } %> <% } %>
      </div>
    </div>

    <div class="right-trade-side">
      <h1>Receiving:</h1>
      <div class="cards-wrapper">
        <% for(let i = 0; i < targetFriendCardsInfo.length; i++) { %> <% if
        (targetFriendCardsInfo[i]) { %>
        <img
          class="cards selectable-card receiving-card"
          data-id="<%- targetFriendCardsInfo[i].id %>"
          src="<%- targetFriendCardsInfo[i].highResImage %>"
          alt=""
        />
        <% } %> <% } %>
      </div>
    </div>
  </div>

  <button id="submit-trade" type="submit">Submit Trade</button>
</form>

<footer><%- include("partials/footer", {state: "friends"}) %></footer>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>

<script>
  document.querySelectorAll(".selectable-card").forEach((card) => {
    card.addEventListener("click", function () {
      this.classList.toggle("selected-card");
    });
  });

  function getSelectedIdsByClass(className) {
    return Array.from(
      document.querySelectorAll("." + className + ".selected-card")
    ).map((card) => card.dataset.id);
  }

  document
    .getElementById("trade-form")
    .addEventListener("submit", function (e) {
      const given = getSelectedIdsByClass("giving-card");
      const received = getSelectedIdsByClass("receiving-card");
      document.getElementById("cardsGivenInput").value = JSON.stringify(given);
      document.getElementById("cardsReceivedInput").value =
        JSON.stringify(received);
    });
</script>
